aiohttp==3.9.5
requests==2.32.3
aiohttp==3.9.5
requests==2.32.3
aiosmtpd==1.4.4.post2
websockets==12.0
schedule
aiohttp
websocket-client
requests
websockets
pyyaml
tabulate
requests>=2.31.0
websockets>=12.0
schedule>=1.2.1
PyYAML>=6.0.1
aiosmtpd>=1.4.4.post2
ctransformers==0.2.27
