body {
  background-color: #1e1e2f;
  color: white;
  font-family: sans-serif;
}
.container {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
}
input, button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #333